<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.vulkan.version" 
                  android:version="0x401000" 
                  android:required="false" />

    <application>
        <service android:name=".PerformanceService" android:enabled="true" android:exported="false" />
        <!-- Add your main activity if any -->
    </application>

</manifest>
